.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: cornflowerblue;
  width: 100%;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 28px;
  text-transform: uppercase;
}
.navbar div:last-child {
  font-weight: bold;
  color: rgb(212, 255, 0);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.insideContainer {
  width: 100%;
  height: 91vh;
}

:root {
  --background-light: #fff;
  --background-dark: #333;
  --text-light: #333;
  --text-dark: #fff;
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.insideContainer button {
  margin-top: 50px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}
